<!DOCTYPE html>
<html>
<head>
    <title>Team List</title>
</head>
<body>
    <h1>Team List</h1>
    <table>
        <thead>
            <tr>
                <th>Team</th>
                <th>M</th>
                <th>W</th>
                <th>L</th>
                <th>Pts</th>
            </tr>
        </thead>
        <tbody>
            {% for team in team_summary_list %}
                <tr>
                    <td>{{ team.country }}</td>
                    <td>{{ team.matches_played }}</td>
                    <td>{{ team.matches_won }}</td>
                    <td>{{ team.matches_lost }}</td>
                    <td>{{ team.calculate_points }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
